body, html {
    height: 100%;
    width: auto;
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

/*css header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0px 1px 5px #f24976;
}

header a {
    height: 90px;
    width: 90px;
}

header a img {
    height: 90px;
    width: 90px;
}

.navigation .link {
    height: 50px;
    padding: 30px 25px;
    text-transform: uppercase;
    color: #f24976;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.navigation .link:hover {
    color: white;
    background-color: #03a688;
    transition: 300ms;
}

/*contenu du site main*/
.title{
    border: 2px solid white;
    display: inline-block;
    margin-top: 50px;
}
.title h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 50px;
    text-align: center;
    padding-left: 240px;
    display: block;
}
/* section icon liste */
.icon-list {
    display: flex;
    /*margin-left: 80px;*/
    justify-content: space-between;
    
}

.icon{
    border: 2px solid white;
    display: inline-block;
}
/*image de chaque icone*/
.icon img { 
    width: 250px;
    height: 250px;
}

/*Environnement de contact*/
.contact{
    background-color: #f24976;
    border: black;
    box-shadow: black;
    font-family: monospace;
    font-size: large;
    font-style: oblique;
    display: block;
    text-align: center;
    margin-top: 50px;
}
/* bouton*/
.contact button{
    text-transform: uppercase;
    border: 1px solid pink;
    letter-spacing: 2px;
    text-align: center;
    background-color: black;
    color: #FFFFFF;
    cursor: pointer;
    padding: 15px;
    margin: 15px;
    border-radius: 4px;
}

.button:hover {
    background-color: #ac4c84;
}

.button:active {
  background-color: #a84281;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*footer*/
footer{
    padding: 70px, 0;
    background-color: grey;
}
.container{
    max-width: 1440px;
}
.footer-logo{
    padding-bottom: 16px;
    display: inline-block;
    color: black;
}
.text-ynov{
    display: block;
}
.text-footer{
    box-sizing: border-box;
}
.phone{
    color: black;
}
.phone::before {
    background: white no-repeat 0 0;
    background-size: cover;
    content: '';
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
    margin-right: 10px;
}
.menu-footer{
    box-sizing: border-box;
}
.footer-list.nav-list{
    display: block;
    margin-top: 40px;
}