body, html {
    height: 100%;
    width: auto;
    margin: 0%;
    padding: 0%;
}

/*css header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0px 1px 5px #f24976;
}

header a {
    height: 90px;
    width: 90px;
}

header a img {
    height: 90px;
    width: 90px;
}

.navigation .link {
    height: 50px;
    padding: 30px 25px;
    text-transform: uppercase;
    color: #f24976;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.navigation .link:hover {
    color: white;
    background-color: #03a688;
    transition: 300ms;
}

/*css la banniere du site*/
.hero {
    height: 100%;
    width: 100%;
    background-image: url('images/Banniere.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1; /* Permet de laisser passer l'ombre rose par dessus */
}

/*css description du labo*/
.description {
    width: 80%;
    height: 500px;
    margin: auto;
    background-image: linear-gradient(#BDBDBD, white);
    text-align: center;
    display: table;
    justify-content: center;
}

.description div {
    display: table-cell;
    vertical-align: middle;
}