body, html {
    height: 100%;
    width: auto;
    margin: 0%;
    padding: 0%;
}

/*css header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 10px black;
}

ul {
    list-style: none;
}

ul li{
    margin: 0 25px;
    display: inline;
}

ul li a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}

/*css la banniere du site*/
.hero {
    padding-top: 5px;
    height: 100%;
    width: 100%;
    background-image: url('images/Banniere.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-content {
    position: absolute;
}